/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: #F8F9FA;
  --first-color-alt: #cfcfcf; /* -4% */
  --title-color: #808080 ;
  --text-color: #000000;
  --text-color-light: #202020;
  --body-color: #F1F3F4;
  --second-color: #4180EA;
  --third-color: #1BA261;
  --fourth-color: #ED564A;
  --container-color: #FBBC05;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --headline-font-size: 5rem;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;
  --text-1500-font-size: 10rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;

/* header height */
  --header-height: 3.5rem;

}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --text-1500-font-size: 15rem;
  }

}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /* for light mode animation */
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}


/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: 0.4s;
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(228, 4%, 15%, 0.15);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.nav__logo {
  color: #fff;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-medium);
  transition: 0.4s;
}

.nav__logo i {
  font-size: 1rem;
}

.nav__logo:hover {
  color: var(--first-color);
}



@media screen and (max-width: 1024px) {
  .nav__menu {
    position: fixed;
    bottom: 2rem;
    background-color: var(--container-color);
    box-shadow: 0 8px 24px hsla(228, 66%, 45%, 0.15);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.3rem 3rem;
    border-radius: 1.25rem;
    transition: 0.4s;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__link {
    color: var(--text-color);
    display: flex;
    padding: 0.5rem;
    border-radius: 50%;
  }

  .nav__link i {
    font-size: 1.25rem;
  }

  .nav__link span {
    display: none;
  }
}


/*=============== FOOTER ===============*/
.footer {
  background-color: #e3e5e7;
  color: var(--text-color);
  display: flex;
  justify-content: space-around;
  padding: 30px 40px;
}

.footer-col {
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-links {
  display: flex;
  justify-content: flex-start;
}

.footer h4 {
  margin-bottom: 10px;
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer ul li a {
  text-decoration: none;
  color: var(--title-color);
}

.footer ul li a:hover {
  color: var(--second-color);
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  padding: 8px;
}

.social-links a {
  color: var(--title-color);
  text-decoration: none;
  font-size: var(--h2-font-size);
  padding-right: 8px;
}

.social-links a:hover {
  color: var(--second-color);
}

.footer-col .h-1 {
  font-weight: 500;
  color: #696969;
}

.footer-col .h-2 {
  color: #696969;
  margin-bottom: 5px;
  font-weight: 500;
}

.bottom-link ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.bottom-link ul li {
  flex: 0 0 auto;
  font-size: var(--smaller-font-size);
  color: var(--title-color);
  font-weight: 500;
  margin-bottom: 5px; 
}




/*=============== FEATURED SPEAKERS SECTION ===============*/

.fs_card {
    width: 250px;
    aspect-ratio: 5/6;
    /* height: 300px; */
    border-radius: 7px;
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    justify-content: center;
    border-width: 0.5px;
    border-color: var(--title-color);
    border-style: solid;
    cursor: pointer;
    transition-duration: 400ms;


}

.fs_card:hover .fs_card_strip {
    height: 100%;
    transition-duration: 400ms;

    opacity: 90%;
}
.fs_card:focus .fs_card_strip {
    height: 100%;
    transition-duration: 400ms;

    opacity: 90%;
}

.fs_card:hover .fs_card_strip .fs_card_social {
    transition-duration: 400ms;
    opacity: 100%;
}

.fs_card:focus .fs_card_strip .fs_card_social {
    transition-duration: 400ms;
    opacity: 100%;
}

.fs_star_img {
    position: absolute;
    object-fit: contain;
    right: -230px;
    bottom: 0px;
    width: 650px;
    height: 650px;
    opacity: 60%;
    z-index: -1;

}

.fs_social_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.fs_image_container {
    width: 55%;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 100%;
}
.fs_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fs_card_strip {
    height: 8px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition-duration: 400ms;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fs_card_title {

    font-size: var(--h2-font-size);
    color:var(--text-color-light) ;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 5px;
   

}
.fs_card_subtitle {
    margin-top: -2px;
    font-size: var(--smaller-font-size);
    color:var(--title-color) ;
    font-weight: 400;

}


.fs_title {
    color: var(--second-color);
}
.fs_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    
}

.fs_main {

 
  overflow: hidden;
  /* overflow-y:hidden; */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;;
  position: relative;
  padding-bottom: 65px;
  margin-bottom: -20px;
  /* min-width: ; */

}

.fs_card_social {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0%;
    transition-duration: 400ms;

    
}

.fs_social_icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.fs_card_social_item {
  display: inline-flex;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--text-color-light);
  background: #f6f6f7;
  /* box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5); */
  position: relative;
  font-size: 21px;
  flex-shrink: 0;
  transition: all 0.3s;
}






.fs_card_social_item:hover {
    transform: scale(1.2);
  }


.fs_card_social .icon-font {
  display: inline-flex;
}








/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.4rem;
  border-radius: 0.5rem;
  background-color: var(--text-color-light);
}

::-webkit-scrollbar-track {
  border-radius: 1.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--first-color-light);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--first-color-alt);
}

/*====== Why join wow, Make connection, 1500+ component ======*/
.flex-row-align-start-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2.5rem;
}

.multi-paragraph {
  white-space: pre-line;
  font-size: var(--normal-font-size);
}

.flex-column-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  gap: 1rem;
  position: relative;
  overflow: hidden;
  padding: 10rem 0;
}

.flex-column-center-container p {
  font-size: var(--h3-font-size);
  text-align: center;
  font-weight: var(--font-medium);
}

.second-color {
  color: var(--second-color);
}

.third-color {
  color: var(--third-color);
}

#why-join-wow-details {
  gap: 10rem;
}

#why-join-wow-details h2 {
  font-size: var(--biggest-font-size);
}

#text-1500-section h2 {
  font-size: var(--text-1500-font-size);
}

@media only screen and (max-width: 767px) {
  .flex-row-align-start-container {
    flex-wrap: wrap !important;
  }

  #text-1500-section h2 {
    font-size: 7rem !important;
  }
}

@media screen and (max-width: 576px) {
  #text-1500-section h2 {
    font-size: 6rem !important;
  }
}

/*============ Who should join us ============*/

#who-should-join-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 10rem 0rem;
}

.flex-row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.half-width-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "left-img right-top-img ." "left-img right-bottom-img ." ". . .";
}

.left-img {
  grid-area: left-img;
}

.right-top-img {
  grid-area: right-top-img;
}

.right-bottom-img {
  grid-area: right-bottom-img;
}

#who-should-join-us h2 {
  font-size: var(--biggest-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (max-width: 450px) {
 
  .fs_card {
    width: 160px;
  }
  .fs_section {
    column-gap: 15px;
    row-gap: 15px;

  }
  .fs_section{
    padding-bottom: 0px;
}

.fs_card_title{
    margin-top: 0px;
    margin-bottom: 0px;
}


  .ts_card {
    width: 300px;
  }
  .ts_section {
    column-gap: 15px;
    row-gap: 15px;

  }
  .ts_section{
    padding-bottom: 0px;
}

.ts_card_title{
    margin-top: 0px;
    margin-bottom: 0px;
}

}

@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }




/* 
   .fs_card {
    width: 160px;
  }
  .fs_section {
    column-gap: 15px;
    row-gap: 15px;

  }
  .fs_section{
    padding-bottom: 0px;
}

.fs_card_title{
    margin-top: 0px;
    margin-bottom: 0px;
} */






}

@media screen and (max-width: 320px) {


}

/* For medium devices */
@media screen and (min-width: 576px) {


}

@media screen and (min-width: 767px) {


}
/* For large devices */
@media screen and (min-width: 1023px) {

  .section {
    padding: 7.5rem 0 1rem;
  }

  .fs_main {
    padding-bottom: 75px;
  }

  .section__title {
    font-size: 2.25rem;
  }

  .section__subtitle {
    font-size: var(--normal-font-size);
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__menu {
    width: initial;
    margin-left: auto;
  }

  .nav__list {
    display: flex;
    column-gap: 3rem;
  }

  .nav__link {
    color: var(--text-color-light);
  }

  .nav__link i {
    display: none;
  }

  .nav__button {
    display: inline-block;
  }

}

@media screen and (min-width: 1040px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

}
/* For 2K & 4K resolutions */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.5;
  }
}

@media screen and (min-width: 3048px) {
  body {
    zoom: 2;
  }
}



/*=============== TIMER ===============*/


.timer-parent-container{
  margin-top: var(--header-height); /* to avoid the header */
}

.timer-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2rem 10rem;
}

.timer-heading{
  color: var(--second-color);
  font-size: var(--h1-font-size);
  white-space: nowrap;
}

.timer-paragraph{
  color: var(--text-color);
  margin-top: 1rem;
}

.actual-timer {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}

.time-data{
  display: flex;
  gap: 1rem;
}

.time .value{
  padding-top: 1rem;
  font-weight: var(--font-semibold);
  font-size: var(--normal-font-size);
  color: var(--third-color);
}

.time-data span{
  background-color: var(--first-color);
  border: var(--first-color-alt) solid;
  font-size: 5vw;
  border-radius: 10px;
  /* padding:1rem 1rem; */
  color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 7rem;
}



@media screen and (max-width: 1080px) {
  .time-data span{
    width: 4rem;
    font-size:4vw;
    height: 5rem;
  }
  .timer-container{
    padding: 1rem 2rem;
  }
  .time-data{
    gap:0.5rem;
  }
  .actual-timer{
    gap: 1.8rem;
  }
}


@media screen and (max-width: 767px) {
  .time-data span{
    font-size:4vw;
    width: 3.5rem;
    height: 4rem;
  }
  
  .time-data{
    gap:0.5rem;
  }
  
  .actual-timer{
    gap: 1rem;
  }
  .timer-container{
    padding: 1rem 2rem;
  }
  
}

@media screen and (max-width: 576px) {
  .time-data span{
    width: 2.5rem;
    font-size:5vw;
    height: 3.5rem;
    padding:0.6rem 0.6rem;
  }
  .timer-container{
    padding: 1rem 2rem;
  }
  .time-data{
    gap:0.3rem;
  }
  .actual-timer{
    gap: 0.8rem;
  }
  .time .value{
    font-size: var(--small-font-size);
  }
}

/*=============== TICKETS SECTION ===============*/
.ts_card {
    width: 350px;
    /* aspect-ratio: 4/5; */
    /* height: 300px; */
    border-radius: 7px;
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    overflow: hidden;
    position: relative;
    /* justify-content: center; */
    border-width: 0.5px;
    border-color: var(--title-color);
    border-style: solid;
    cursor: pointer;
    transition-duration: 400ms;
    padding-left: 2%;
    padding-top: 3%;
    padding-right: 2%;
    padding-bottom: 20px;


}


.ts_section{
    /* padding-bottom: 50px; */
    position: relative;
    /* max-width: 100vw; */
    /* overflow-x: hidden; */
    /* overflow-y: ; */
}






.ts_image_container {
    width: 15%;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 10px;
}
.ts_image_parent {
  display: flex;
  width: 100%;
  flex-direction: ;

}
.ts_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ts_card_strip {
    height: 8px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transition-duration: 400ms;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;


    /* background-color: blue; */
}
.ts_card_title {

    font-size: var(--h2-font-size);
    color:var(--text-color-light) ;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
   

}
.ts_card_subtitle {
    margin-top: -2px;
    font-size: var(--smaller-font-size);
    color:var(--title-color) ;
    font-weight:normal;
    
    /* margin-top: 10px; */

}

.ts_bookNow {
  margin-left: auto;
  margin-right: auto;
}

.ts_bookNow_button {
  margin-top: 50px;
  width: fit-content;
  /* padding: 10px 20px 10px 20px; */
  width: 144px;
  height: 43px;
  background-color: var(--second-color);
  color: white;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}


.ts_title {
    color: var(--third-color);
    font-size: 60px;
}
.ts_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

/*============ Hero ============*/
#hero {
  margin-top: var(--header-height);
}

.headline {
  font-size: var(--headline-font-size);
  font-weight: 700;
  line-height: 1.2;
  color: var(--fourth-color);
  margin-top: 2rem;
}